* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: darkgray;
  font-family: Lato, sans-serif;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 300px;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}